/* 设置页面的容器 */
#cover {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    animation: backgroundSlider 12s infinite;

    overflow-y: scroll; /* 保持滚动功能 */
    scrollbar-width: none; /* Firefox 隐藏滚动条 */
    -ms-overflow-style: none;
}

#cover::-webkit-scrollbar { 
    display: none; 
}

@keyframes backgroundSlider {
    0% {
        background-image: url('../images/projectCovers/0.png');
    }
    33% {
        background-image: url('../images/projectCovers/1.png');
    }
    66% {
        background-image: url('../images/projectCovers/0.png');
    }
    100% {
        background-image: url('../images/projectCovers/1.png');
    }
}

.cover-logo{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%); /* 居中 */

    width: 23.6%;

    display: flex;
    flex-direction: column;
    gap: 0px;

    z-index: 2; /* 确保图片在文字上面 */
}

/* 设置图片元素 */
.cover-image {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
}

.cover-chevron-down{
    position: absolute;
    bottom: 30px;

    width: 24px;
    fill: rgba(255, 255, 255, 0.5);

    z-index: 3;
}

.cover-chevron-down:hover{
    fill: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.cover-chevron-down:active{
    fill: rgba(255, 255, 255, 0.5);
}

.cover-shader{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    background: radial-gradient(ellipse 100% 100%, rgba(0, 0, 0, 0.92), rgba(0, 0, 0, 0.5));
    backdrop-filter: blur(1px);

    border-style: none;
    z-index: 1;
}

