/* styles.css */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    scroll-behavior: smooth; /* 平滑滚动 */
    scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar{
    display: none;
}

/* 配置滚动行为 */
body {
    scroll-snap-type: y mandatory; /* 强制每次滚动到页面中心 */
}

a{
    text-decoration: none;
}

.h1,h2,h3,h4,h5,h6{
    font-family: arial;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,0.7);
    margin-bottom: 24px;
    text-align: justify;
}

h6{
    line-height: 2;
    font-size: 14px;
    font-weight: 100;
}

.page {
    margin: 0;
    
    position: relative;
    flex-shrink: 0;

    font-size: 2rem;
    font-family: Arial, sans-serif;
    scroll-snap-align: center; /* 配合 scroll-snap */

    height: calc(100vh - 80px);
    width: 100vw;
    
    overflow-y: scroll;
    z-index: 500;
}

.page-container{
    margin: 0;
    scroll-snap-align: center; /* 配合 scroll-snap */
    position: relative;

    padding-top: 80px;
    height: calc(100vh - 80px);
}

.auto1080{
    display: flex;
    flex-direction: column;
    
    
    max-width: 1080px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.project-preview-description h5, .project-preview-description h6{
    text-align: left;
}

#loader-container{
    background-color: rgba(255,255,255,1);
    backdrop-filter: blur(20px);

    position: fixed;
    width: 100%;
    height: 100%;
    
    z-index: 5000;

    transition: opacity 1.5s ease; /* 添加平滑过渡 */
    opacity: 1; /* 默认完全不透明 */
}

#loader-container.hidden {
    opacity: 0; /* 渐隐效果 */
}

.cover-logo{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%); /* 居中 */

    width: 23.6%;

    display: flex;
    flex-direction: column;
    gap: 0px;

    z-index: 2; /* 确保图片在文字上面 */
}

@media screen and (max-width: 900px) {
    .cover-logo{
        width: 50%;
    }
}