/* styles.css */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    scroll-behavior: smooth; /* 平滑滚动 */
    scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar{
    display: none;
}

/* 配置滚动行为 */
body {
    scroll-snap-type: y mandatory; /* 强制每次滚动到页面中心 */
}

.h1,h2,h3,h4,h5,h6{
    font-family: arial;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,0.7);
    margin-bottom: 24px;
    text-align: justify;
}

h6{
    line-height: 2;
    font-size: 14px;
    font-weight: 100;
}

.page {
    margin: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    flex-shrink: 0;

    font-size: 2rem;
    font-family: Arial, sans-serif;
    scroll-snap-align: center; /* 配合 scroll-snap */

    height: calc(100vh - 80px);
    
    overflow-y: scroll;
    z-index: 500;
}

.page-container{
    margin: 0;
    scroll-snap-align: center; /* 配合 scroll-snap */
    position: relative;

    padding-top: 80px;
    height: calc(100vh - 80px);
}

#aboutMe{
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: calc(100vh - 80px);
}