/*Content Style*/
.main-container{
    display: block;
    padding-top: 75px;
}

.image-container{
    float: left;
    width: 20%;
    display: block;
    margin-bottom: 24px;
}

.image-container img{
    width: 100%;
}

.text-container{
    display: block;
    float: right;
    width: 75%;
    margin-inline-start: 40px;
    unicode-bidi: isolate;

    padding-bottom: 120px;
    
}

.text-container h5{
    letter-spacing: 1px;
}

@media screen and (max-width: 900px) {
    .text-container, .image-container {
        width: 100%;
    }
}

.intro{
    align-items: center;
    margin-bottom: 48px;
}

.contact{
    display: flex;
}

.contact-container{
    display: flex;
    margin-right: 64px;
}

@media screen and (max-width: 900px) {
    .contact{
        display: block;
    }
}

.contact a, .contact h6{
    display: block;

    font-family: arial;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,0.3);

    margin-bottom:0;

    line-height: 2;
    font-size: 14px;
    font-weight: 100;

    text-decoration: none;
}

.contact svg{
    height: 20px;
    fill: rgba(0,0,0,0.3);
    margin-right: 12px;
    display: block;
    padding-top: 5px;
    justify-content: center;
    align-items: center;
}

#aboutMe{
    display: flex;
    position: relative;
}

.page{
    background-image: url('../../../images/background/backgroundBlur.jpg'); /* Google 图片链接 */
    background-size: cover;  /* 背景图像覆盖整个容器 */
    background-position: center;  /* 背景图像居中 */
    background-repeat: no-repeat;  /* 背景图像不重复 */
}

#backgroundImage{
    position: absolute;  /* 绝对定位，填充整个容器 */
    top: 0;
    left: 0;
    height: 100%;  /* 让图片高度适应容器 */
    object-fit: cover;  /* 保持图片的宽高比，且填满容器 */
    z-index: -1;  /* 将图片放在其他内容的下方 */
}

@media screen and (max-width: 900px) {
    #aboutMe{    
        display: flex;
        position: relative;
        overflow-y: scroll;
    }

    .main-container{
        padding-top: 20px;
    }
}