/*Content Style*/
.main-container{
    display: block;
    padding-top: 200px;
}

.image-container{
    float: left;
    width: 20%;
    display: block;
    margin-bottom: 24px;
}

.image-container img{
    width: 100%;
}

.text-container{
    display: block;
    float: right;
    width: 75%;
    margin-inline-start: 40px;
    unicode-bidi: isolate;

    padding-bottom: 120px;
    
}

.text-container h6{
    margin-bottom: 48px;
}

@media screen and (max-width: 900px) {
    .text-container, .image-container {
        width: 100%;
    }
}

.intro{
    align-items: center;
}

.contact{
    display: flex;
}

.contact-container{
    display: flex;
}

@media screen and (max-width: 900px) {
    .contact{
        display: block;
    }
}

.contact a, .contact h6{
    display: block;

    font-family: arial;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,0.3);

    margin-bottom:0;
    margin-right: 36px;

    line-height: 2;
    font-size: 14px;
    font-weight: 100;

    text-decoration: none;
}

.contact svg{
    height: 20px;
    fill: rgba(0,0,0,0.3);
    margin-right: 12px;
    display: block;
    padding-top: 5px;
    justify-content: center;
    align-items: center;
}

#aboutMe{
    display: flex;
    position: relative;
    overflow: hidden;
}

@media screen and (max-width: 900px) {
    #aboutMe{    
        display: flex;
        position: relative;
        overflow-y: scroll;
    }

    .main-container{
        padding-top: 20px;
    }
}
